@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

body {
    text-align: center;
    margin: 0;
    padding: 0;
    background: #FFE4B5;
    color: black;
}

h1{
    font-family: 'Doto';
    font-weight: 900;
    font-size: 3em;
    margin-top: 30px;
}

h2{
    font-family: 'Doto';
    font-weight: 900;
    font-size: 2em;
    margin-top: 30px;
}

button {
    padding: 10px;
    font-size: 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background: #2575fc;
    color: #ffffff;
}

